pruebasExamen/Program.cs
pruebasExamen/obj/Debug/net6.0/ref/pruebasExamen.dll
pruebasExamen/obj/Debug/net6.0/pruebasExamen.pdb
pruebasExamen/obj/Debug/net6.0/pruebasExamen.GlobalUsings.g.cs
pruebasExamen/obj/Debug/net6.0/pruebasExamen.genruntimeconfig.cache
pruebasExamen/obj/Debug/net6.0/pruebasExamen.GeneratedMSBuildEditorConfig.editorconfig
pruebasExamen/obj/Debug/net6.0/pruebasExamen.dll
pruebasExamen/obj/Debug/net6.0/pruebasExamen.csproj.FileListAbsolute.txt
pruebasExamen/obj/Debug/net6.0/pruebasExamen.csproj.CoreCompileInputs.cache
pruebasExamen/obj/Debug/net6.0/pruebasExamen.csproj.AssemblyReference.cache
pruebasExamen/obj/Debug/net6.0/pruebasExamen.assets.cache
pruebasExamen/obj/Debug/net6.0/pruebasExamen.AssemblyInfoInputs.cache
pruebasExamen/obj/Debug/net6.0/pruebasExamen.AssemblyInfo.cs
pruebasExamen/obj/Debug/net6.0/apphost.exe
pruebasExamen/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
pruebasExamen/obj/pruebasExamen.csproj.nuget.g.targets
pruebasExamen/obj/pruebasExamen.csproj.nuget.g.props
pruebasExamen/obj/pruebasExamen.csproj.nuget.dgspec.json
pruebasExamen/obj/project.nuget.cache
pruebasExamen/obj/project.assets.json
pruebasExamen/bin/Debug/net6.0/ref/pruebasExamen.dll
pruebasExamen/bin/Debug/net6.0/pruebasExamen.runtimeconfig.json
pruebasExamen/bin/Debug/net6.0/pruebasExamen.pdb
pruebasExamen/bin/Debug/net6.0/pruebasExamen.exe
pruebasExamen/bin/Debug/net6.0/pruebasExamen.dll
pruebasExamen/bin/Debug/net6.0/pruebasExamen.deps.json
pruebasExamen/pruebasExamen.csproj
Practica_3/PruebaNorthwind/obj/Debug/net6.0/PruebaNorthwind.assets.cache
Practica_3/PruebaNorthwind/obj/Debug/net6.0/PruebaNorthwind.csproj.AssemblyReference.cache
